@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

.page_404 {
  height: 70vh;
  padding-top: 20px;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 div {
  width: 60vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.four_zero_four_bg h3 {
  font-size: 80px;
  margin: -20px 0;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
.contant_box_404 a {
  text-decoration: none;
}